body {
    height: 100%;
    font-family: "Gotham Rounded", "Gotham", "Helvetica Neue", "Helvetica", sans-serif;
    
    color: #1a1a1a;
}

.content{
    padding-top: 150px;
    padding-bottom: 600px;
}

.row{
    padding-top: 10px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url('/images/pattern.svg');
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 25px;
}

.jumbotron.top {
    background-image: url('/images/pattern.svg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 150px;
    margin-bottom: -100px;
}

html {
    position: relative;
    min-height: 100%;
}

h1,h2,h3,h4,h5,h6{
    letter-spacing: 1px;
	text-transform: uppercase;
    font-weight: bold;
}

.btn{
    letter-spacing: 1px;
	text-transform: uppercase;
    font-weight: bold;
}

.dark-link{
    color: #1a1a1a ;
    font-weight: bold;
}



.navbar-brand{
    padding-top:0px !important;
    padding-bottom:0px !important;
}
.navbar{
    padding-top: 15px;
	padding-bottom: 15px;
	transition:all ease .3s;
    background-color: transparent;
    border: 0;
    letter-spacing: 1px;
	text-transform: uppercase;
}
.nav > li > a{
    color: #1a1a1a !important;
    font-weight: bold;
}
.nav > li > a:hover{
    color: #3fa9f5 !important;
}

.shrink-nav {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
    transition:all ease .3s;
    background-color: white;
}
.logo img{
    margin-top:-10px; 
    width:175px !important;
    transition:all ease .3s;
}
.shrink-logo img {
    margin-top:5px; 
    width:100px !important;
    transition:all ease .3s;
}

.white{
    background-color: white;
}

.divider{
    color: lightgrey !important;
}

.navbar-toggle {
    border: none;
    background-color: transparent !important;
}
.icon-bar{
    background-color: #1a1a1a !important;
}

.navbar-toggle.focus {
    border: none;
    background-color: #1a1a1a !important;
}
.icon-bar.focus{
    background-color: white !important;
}


@media (max-width: 768px) {
    .navbar * {
        border: 0px;
    }
    .navbar-nav {
        border: 0px;
    }
    .navbar-right {
        text-align: center;
        background-color: white;
    }
}
