body {
    height: 100%;
    font-family: "Gotham Rounded", "Gotham", "Helvetica Neue", "Helvetica", sans-serif;
    
    color: #1a1a1a;
}

.content{
    margin-top: 150px;
}

.row{
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-toolbar .btn {
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url('/images/pattern.svg');
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 25px;
}

.jumbotron.top {
    background-image: url('/images/pattern.svg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 150px;
    margin-bottom: -100px;
}

html {
    position: relative;
    min-height: 100%;
}

h1,h2,h3,h4,h5,h6{
    letter-spacing: 1px;
	text-transform: uppercase;
    font-weight: bold;
}

.btn{
    letter-spacing: 1px;
	text-transform: uppercase;
    font-weight: bold;
}

.dark-link{
    color: #1a1a1a ;
    font-weight: bold;
}

hr{
    border-color: #1a1a1a;
    border-top: 4px solid;
}

i.fa{
    margin-right: 10px;
}

.noselect {
    user-select: none; 
}


.navbar-brand{
    padding-top:0px !important;
    padding-bottom:0px !important;
}
.navbar{
    padding-top: 15px;
	padding-bottom: 15px;
	transition:all ease .3s;
    background-color: transparent;
    border: 0;
    letter-spacing: 1px;
	text-transform: uppercase;
}
.nav > li > a{
    color: #1a1a1a !important;
    font-weight: bold;
}
.nav > li > a:hover{
    color: #3fa9f5 !important;
}

.shrink-nav {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
    transition:all ease .3s;
    background-color: white;
}
.logo img{
    margin-top:-10px; 
    width:175px !important;
    transition:all ease .3s;
}
.shrink-logo img {
    margin-top:5px; 
    width:100px !important;
    transition:all ease .3s;
}

.white{
    background-color: white;
}

.divider{
    color: lightgrey !important;
}

.navbar-toggle {
    border: none;
    background-color: transparent !important;
}

.icon-bar{
    background-color: #1a1a1a !important;
}

.navbar-toggle.focus {
    border: none;
    background-color: #1a1a1a !important;
    transition: all 0s;
}
.icon-bar.focus{
    background-color: white !important;
    transition: all 0s;
}


@media (max-width: 768px) {
    .navbar * {
        border: 0px;
    }
    .navbar-nav {
        border: 0px;
    }
    .navbar-right {
        text-align: center;
        background-color: white;
    }
}

.btn{
    border: none;
    transition-duration: 0.5s;
}
.btn:hover {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10), inset 0 0 100px 100px rgba(255, 255, 255, 0.1) !important;
    transition-duration: 0.5s;
}
.btn:active {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1) !important;
    transition-duration: 0.2s;
}
.btn:focus {
    outline: 0;
}

.btn.btn-default{
    background-color: transparent !important;
    box-shadow: inset 0px 0px 0px 2px rgba(63,169,245,1);
	color: #3fa9f5;
}
.btn.btn-default:hover {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10), inset 0px 0px 0px 2px rgba(63,169,245,1) !important;
    background-color: #3fa9f5 !important;
	color: white;
    transition-duration: 0.5s;
}
.btn.btn-default:active {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1) !important;
    background-color: #3fa9f5 !important;
	color: white;
    transition-duration: 0.2s;
}

.btn.btn-primary{
    background-color: #3fa9f5 !important;
}

.btn.btn-success{
    background-color: #5cb85c !important;
}

.btn.btn-info{
    background-color: transparent !important;
    box-shadow: inset 0px 0px 0px 2px rgba(26,26,26,1);
	color: #1a1a1a;
}
.btn.btn-info:hover {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10), inset 0px 0px 0px 2px rgba(26,26,26,1) !important;
    background-color: #1a1a1a !important;
	color: white;
    transition-duration: 0.5s;
}
.btn.btn-info:active {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1) !important;
    background-color: black !important;
	color: white;
    transition-duration: 0.2s;
}

.btn.btn-warning{
    background-color: #f0ad4e !important;
}

.btn.btn-danger{
    background-color: #d9534f !important;
}

.btn.btn-twitter{
    background-color: #53a5e4 !important;
}

.btn.btn-facebook{
    background-color: #3b5998 !important;
}

.btn.btn-link{
    background-color: transparent !important;
}
.btn.btn-link:hover{
    box-shadow: none !important;
}


.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.5s;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggle .hamburger {
    transform: translate(2.5px,0px);
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed .hamburger {
    transform: translate(-2.5px,0px);
    transition: all 0.5s;
}


